<!DOCTYPE html>
<html>
    <head>
        <title>This is My first blog</title>
    </head>
<body>
   
    <header>
        <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    {{ posts }}
    {% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>test 2 paragraph .</p>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {% endfor %}
    <article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">My second post</a></h2>
        <p>It's Same ok fo one paragraph .</p>
    </article>
</body>
</html>